@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}


body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}


.header-client {
   background-color: #fcfcfc;
}
.bg-button-g {
   background-color: #44aadb;
}
.bg-button-g:hover {
   background-color: #efb83f;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield; 
}

.img-blog {
   width: 80%;
}


.text-slider {
  color: #fff;
  font-weight: 700;
}